.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
data/raw/*
data/bronze/*
data/silver/*
data/gold/*
data/logs/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/logs/.gitkeep
models_artifacts/*
!models_artifacts/.gitkeep
.DS_Store